* {
  box-sizing: border-box;
}

button , input{
  border: 1px solid #aaa;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #eee;
}
body > * {
  background: #fff;
  padding: 1rem;
}

#searchForm{
  font-size: 0;
}

#searchForm > *{
  font-size: 1rem;
  vertical-align: middle;
}

#searchForm input{
  width: 90%;
  padding-top: .2rem;
  border-right-width: 0px;
}

#searchForm button{
  width: 10%;
}

#form {
  margin: 0 auto;
  width: 30rem;
}
form h2 {
  text-align: center;
}
form label {
  width: 90%;
  margin: 0 auto;
  display: block;
}
form label input, form label button {
  width: 100%;
  padding: 0.5rem 0;
}
form label > * {
  margin-bottom: 0.5rem;
}

.Thead,.row{
  display: grid;
  grid-template-columns: .5fr 2fr 4fr 4fr 2.5fr;
  border-bottom: #ccc 1px solid ;
  padding: .5rem 0;
}
.Thead{
  border-color: #444;
}

.operation{
  font-size: 0;
}

.operation > *{
  font-size: 1rem;
}

.operation > *:first-child{
  border-right-width: 0px; 
}